.action {
    margin-right: 8px;
}

.row {
    padding: 8px;
    width: 260px;
}

.row:nth-child(even) {
    background: #CCC
}

.row:nth-child(odd) {
    background: #e9e9e9
}

.button {
    padding: 8px;
    background: #f2f2f2;
}

.separator {
    padding: 8px;
    height: 1px;
}

.actionSequence {
    padding: 8px;
    background: #f2f2f2;
}

.welcome {
    padding: 8px;
}

.id {
    font-size: small;
}