<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User's course list</title>
    <link rel="stylesheet"
          type="text/css"
          href="../../static/css/main.css"
          th:href="@{/css/main.css}">
</head>
<body>

<div th:replace="~{fragments/header :: titleHeader}"></div>
<div th:replace="~{fragments/header :: userHeader}"></div>

<h3>My courses</h3>
<div >
    <div th:each="course : ${info.courseList}" class="row">
        <span th:text="'#' + ${course.id}">#01</span><br/>
        <span th:text="${course.title}">Course title</span><br/>
        <span th:text="${course.description}">Course description</span><br/>

        <a href="#"
           th:href="@{/course/{courseId}/leave(courseId=${course.id})}"
           class="action">Leave</a>
    </div>
</div>

</body>
</html>