<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Unit</title>

    <link rel="stylesheet"
          type="text/css"
          href="../../static/css/main.css"
          th:href="@{/css/main.css}">
</head>
<body>

<div th:replace="~{fragments/header :: titleHeader}"></div>
<div th:replace="~{fragments/header :: userHeader}"></div>

<h2 th:text="${course.title}">Course name</h2>
<h3>Create unit</h3>

<div th:replace="~{fragments/errors :: errors(${errorList})}"></div>

<form
        th:action="@{/admin/course/{courseId}/unit/create(courseId=${course.id})}"
        method="post">
    <div th:replace="~{fragments/unit :: unitFormFields(${unit})}"></div>

    <input type="submit" value="Create">
</form>
</body>
</html>