<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>

<div th:fragment="titleHeader">
    <h1>
        <a th:text="#{title}" th:href="@{/}">Basic Learning System</a>
    </h1>
</div>

<div th:fragment="userHeader">
    <p th:if="${not authenticated}">
        <a href="/login"
           th:href="@{/login}"
           class="action">Login</a>
        <a href="/register"
           th:href="@{/register}"
           class="action">Register</a>
    </p>

    <p th:if="${authenticated}">
        <span th:text="|Welcome, ${username}|">Welcome, User!</span><br/>
        <a th:if="${isAdmin}"
           href="/admin"
           th:href="@{/admin}"
           class="action">Admin</a>
        <a href="/profile"
           th:href="@{/profile}"
           class="action">Profile</a>
        <a href="/logout"
           th:href="@{/logout}"
           class="action">Logout</a>
    </p>
</div>

</body>
</html>