<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet"
          type="text/css"
          href="../../static/css/main.css"
          th:href="@{/css/main.css}">
</head>
<body>

<div th:fragment="titleHeader">
    <h1>
        <a th:text="#{title}" th:href="@{/}">Basic Learning System</a>
    </h1>
</div>

<div th:fragment="userHeader">
    <div th:if="${not authenticated}">
        <span class="actionSequence">
        <a href="#"
           th:href="@{/login}"
           class="action">Login</a>
        <a href="#"
           th:href="@{/register}"
           class="action">Register</a>
        </span>
    </div>

    <div th:if="${authenticated}">
        <div>
            <span th:text="|Welcome, ${username}!|">Welcome, User!</span>
        </div>
        <div class="separator"></div>
        <div>
            <span class="actionSequence">
            <a href="#"
               th:href="@{/profile/course}"
               class="action">My Courses</a>
            <a href="#"
               th:href="@{/profile}"
               class="action">Profile</a>
            <a th:if="${isAdmin}"
               href="#"
               th:href="@{/admin}"
               class="action">Admin</a>
            <a href="#"
               th:href="@{/logout}"
               class="action">Logout</a>
                </span>
        </div>
    </div>
</div>

</body>
</html>