<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete user</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

<div th:replace="~{fragments/header :: titleHeader}"></div>
<div th:replace="~{fragments/header :: userHeader}"></div>

<p>
    <span> Navigation:</span><br/>
    <span>
        <a href="#" th:href="@{/admin}">Admin</a>
        /
        <a href="#" th:href="@{/admin/user}">Users</a>
    </span>
</p>

<h3>Delete user</h3>

<div th:replace="~{fragments/errors :: errors}"></div>

<form
        th:action="@{/admin/user/{userId}/delete(userId=${userId})}"
        method="post">
    <p>Do you want to delete <span th:text="|${user.firstName} ${user.lastName}|">John Smith</span></p>
    <input type="submit" value="Delete">
</form>

</body>
</html>