<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Toggle course active status</title>

    <link rel="stylesheet"
          type="text/css"
          href="../../static/css/main.css"
          th:href="@{/css/main.css}">
</head>
<body>

<div th:replace="~{fragments/header :: titleHeader}"></div>
<div th:replace="~{fragments/header :: userHeader}"></div>

<p>
    <span> Navigation:</span><br/>
    <span>
        <a href="#" th:href="@{/admin}">Admin</a>
        /
        <a href="#" th:href="@{/admin/course}">Courses</a>
    </span>
</p>

<h3>Toggle course active status</h3>

<div th:replace="~{fragments/errors :: errors(${errorList})}"></div>

<form th:action="@{/admin/course/{courseId}/activate(courseId=${course.id})}"
      method="post">

    <p>Do you want to activate course "<span th:text="|${course.title}|">Basic Java</span>"</p>

    <input type="submit"
           value="Activate">
</form>

</body>
</html>