<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create course</title>

    <link rel="stylesheet"
          type="text/css"
          href="../../static/css/main.css"
          th:href="@{/css/main.css}">
</head>
<body>

<div th:replace="~{fragments/header :: titleHeader}"></div>
<div th:replace="~{fragments/header :: userHeader}"></div>

<p>
    <span> Navigation:</span><br/>
    <span>
        <a href="#" th:href="@{/admin}">Admin</a>
        /
        <a href="#" th:href="@{/admin/course}">Courses</a>
    </span>
</p>

<h3>Edit course</h3>

<div th:replace="~{fragments/errors :: errors(errors = ${errorList})}"></div>

<form
        th:action="@{/admin/course/{courseId}(courseId=${course.id})}"
        method="post">
    <div th:replace="~{fragments/course :: courseFormFields(form = ${course})}"></div>

    <input type="submit" value="Save">
</form>

</body>
</html>