<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course List</title>

    <link rel="stylesheet"
          type="text/css"
          href="../../static/css/main.css"
          th:href="@{/css/main.css}">
</head>
<body>

<div th:replace="~{fragments/header :: titleHeader}"></div>
<div th:replace="~{fragments/header :: userHeader}"></div>

<h3>Courses:</h3>
<div>
    <div th:each="course : ${catalogue.courseList}" class="row">
        <span th:text="'id: ' + ${course.id}" class="id">id: 1</span><br/>
        <span th:text="${course.title}">Course title</span><br/>
        <span th:text="${course.description}">Course description</span><br/>

        <div th:if="${catalogue.userAuthenticated}">
            <a href="#"
               th:if="${not course.enrolled}"
               th:href="@{/catalogue/course/{courseId}/enrol(courseId=${course.id}, target='catalogue')}"
               class="action">Enrol</a>
            <a href="#"
               th:if="${course.enrolled}"
               th:href="@{/catalogue/course/{courseId}/leave(courseId=${course.id}, target='catalogue')}"
               class="action">Leave</a>
        </div>
    </div>
</div>

</body>
</html>