<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leave Course</title>

    <link rel="stylesheet"
          type="text/css"
          href="../../static/css/main.css"
          th:href="@{/css/main.css}">
</head>
<body>

<div th:replace="~{fragments/header :: titleHeader}"></div>
<div th:replace="~{fragments/header :: userHeader}"></div>

<h3>Leave Course</h3>

<form
        th:action="@{/catalogue/course/{courseId}/leave(courseId=${course.id}, target=${target})}"
        method="post">
    <p>Do you want to leave course "<span th:text="|${course.title}|">Basic Java</span>"</p>
    <input type="submit" value="Leave">
</form>

</body>
</html>