<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course List</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

<div th:replace="~{fragments/header :: titleHeader}"></div>
<div th:replace="~{fragments/header :: userHeader}"></div>

<p>
    List of available courses:
    <br/>
    <ul>
        <li th:each="c : ${courses}" th:text="${c.title}">Course title</li>
    </ul>
</p>

</body>
</html>