<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<div th:replace="~{header :: titleHeader}"></div>

<p>Please fill and submit the form below to create account:</p>

<p th:if="${not errors.isEmpty()}">
    Errors:
<ul>
    <li th:each="e : ${errors}" th:text="${e}">Error message</li>
</ul>
</p>

<form
        th:action="@{/register}"
        method="post"
        th:object="${registrationForm}">

    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName" th:value="*{firstName}">
    <br/>

    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" id="lastName" th:value="*{lastName}">
    <br/>

    <label for="email">Email:</label>
    <input type="text" name="email" id="email" th:value="*{email}">
    <br/>

    <label for="password">Password:</label>
    <input type="text" name="password" id="password" th:value="*{password}">
    <br/>

    <input type="submit" value="Register">
</form>
</body>
</html>