<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Study Lesson</title>
    <link rel="stylesheet"
          type="text/css"
          href="../../static/css/main.css"
          th:href="@{/css/main.css}">
</head>
<body>

<div th:replace="~{fragments/header :: titleHeader}"></div>
<div th:replace="~{fragments/header :: userHeader}"></div>

<h2 th:text="${lesson.title}">Lesson name</h2>
<p th:text="${lesson.description}">Lesson description</p>

<p>
    <a href="#"
       th:href="@{/study/lesson/{lessonId}/prev(lessonId=${lesson.id})}">Prev</a>
    <a href="#"
       th:href="@{/study/lesson/{lessonId}/next(lessonId=${lesson.id})}">Next</a>
</p>

<div th:replace="~{fragments/course_tree :: courseTree(${courseTree})}"></div>

</body>
</html>